<% content_for :title do %>
  Home
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-8 col-md-offset-2">

      <div class="padded bg-white full-height">
        <div class="bg-black game-screen" id="game_info">
          <div id="info-header">
              Puzzle <span id="info-number"><%= @puzzle.number %></span>: <%= @puzzle.name %>
          </div>

<!--           <div class="flex-container game-middle-row">
            <div class="flex-item-padded-right"> -->
          <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-7">
              <table class="border-collapse game-grid">
                <% @puzzle_rows.each do |row| %>
                  <tr>
                    <% row.each do |cell| %>
                      <td class="<%= cell.content %>" id="<%= cell.column_number %>-<%= cell.row_number %>" data-cell-type="<%= cell.content_type %>">
                          <div class="highlighter-blue"></div>
                          <div class="highlighter-red"></div>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </div>

            <div class="col-xs-12 col-sm-5">
              <div>
                Round: <span id="info-round">1</span>
              </div>
              <div>
                Enemies Remaining: <span id="info-enemies"><%= @puzzle.enemies %></span>
              </div>
              <div>
                HP: <span id="info-hp">20</span>
              </div>
              <div>
                Weapon: <span id="info-weapon">None</span>
              </div>
              <div>
                Range: <span id="info-range">5</span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
