<% content_for :title do %>
  Home
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

      <div class="padded bg-white full-height">
        <table class="border-collapse game-grid">
          <% @puzzle.rows.each do |row| %>
            <tr>
              <% row.cells.each do |cell| %>
                <td class="<%= cell.content || "empty" %>" id="<%= cell.column_number %>-<%= row.row_number %>" data-cell-coords="<%= cell.column_number %>-<%= row.row_number %>" data-cell-content="<%= cell.content || "empty" %>" data-cell-type="<%= cell.content_type %>">
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

    </div>

  </div>
</div>
